@charset "UTF-8";

html body {
        height:100%;
        width:100%;
        margin:0px;
        padding:0px;
        font-family:Verdana, Geneva, sans-serif;
        font-size:.7em;
        color:#666;
        background-image:url(images/background.jpg);
        background-repeat:repeat;
}

#main {
    width:700px;
    margin:auto;
    margin-top:10px;
}

#header {
    background-image:url(images/header.jpg);
    height:4px;
    width:700px;
}

#content {
    background-image:url(images/body.jpg);
    background-repeat:repeat-y;
    position:relative;
    height:1400px;
    width:700px;
}

#banner {
    height:337px;
    width:688px;
    margin:auto;
}

#footer {
    background-image:url(images/footer.jpg);
    height:150px;
    width:700px;
}

#region1 {
    position:absolute;
    top:355px;
    left:28px;
    width:380px;
}

#region2 {
    position:absolute;
    top:340px;
    left:425px;
}

#region3 {
    position:absolute;
    top:520px;
    left:28px;
    width:380px;
}

#region4 {
    position:absolute;
    top:660px;
    left:18px;
}

#region5 {
    position:absolute;
    top:685px;
    left:350px;
    width:330px;
}

#region6 {
    position:absolute;
    top:1040px;
    left:28px;
    width:395px;
}

#region7 {
    position:absolute;
    top:945px;
    left:445px;
    width:380px;
}

#region8 {
    position:absolute;
    top:1340px;
    left:75px;
}

#region9 {
    position:absolute;
    top:180px;
    left:90px;
    width:520px;
}

#popover {
    background-image:url(images/popover-background.png);
    background-repeat:repeat;
    position:absolute;
    color:#FFFFFF;
    display:none;
    top:150px;
    left:70px;
    width:510px;
    height:240px;
    padding:25px;
    z-index:1;
}


#popover h1 {
        color:#43C6DB;
        font-size:28px;
        font-family:'HoeflerText-Regular','Hoefler Text','Times New Roman',serif;
        font-weight:400;
        line-height:32px;
        padding:0;
        margin-bottom:20px;
}

#popover p {
        color:#FFFFFF;
        font-size:18px;
        font-family:'HoeflerText-Regular','Hoefler Text','Times New Roman',serif;
        line-height:21px;
        padding:0;
        margin-bottom:20px;
}

h1 {
    color:#FFFFFF;
    font-size:24px;
    font-family:'HoeflerText-Regular','Hoefler Text','Times New Roman',serif;
    font-weight:400;
    line-height:29px;
    padding:0;
    margin:0;
}

p {
    color:#515151;
    font-size:14px;
    font-family:'HoeflerText-Regular','Hoefler Text','Times New Roman',serif;
    line-height:17px;
    padding:0;
    margin-top:0px;
    margin-bottom:10px;

}
